a:hover {
    text-decoration: none;
    
}

body {
    background-color: rgba(165, 165, 165, 0.288);
}

hr {
    border-color: #123455;
}

#title-font {
    font-family: 'Alfa Slab One', cursive;
    font-size: 300%;
    color: rgb(44, 0, 165);
    text-shadow: 2px 2px #ff1e1e;
}

#news-btn {
    transition: background-color 0.5s ease;
    border-radius: 3px;
    opacity: .8;
}

h3 {
    font-weight: bold;
}

.summary {
    line-height: 220%;
}

#wait {
    color: rgb(67, 67, 172);
}

h5 {
    color: rgb(88, 88, 88);
}

.comment-btn {
    background: #0066A2;
    color: white;
    border-style: none;
    height: 35px;
    width: 90px;
    border-radius: 2px;
    margin-left: 1px;
}

.comment-btn:hover {
    opacity: .8;
}

.comment-form, .comment-display { 
    display: none;
}

.show-form:hover, .show-comments:hover {
    color: rgb(0, 90, 60);
}

.comment-input {
    max-width: 500px;
}